<dl>
  <dt><label for= 'name'>Title:</label></dt>
  <dd>
    <input id='name' name='bookmarker[title]' type="text" autofocus value="<%= @bookmarker.title %>">
  </dd>
  
  <dt><label for= 'name'>URL:</label></dt>
  <dd>
    <input id='name' name='bookmarker[url]' type="text" autofocus value="<%= @bookmarker.url %>">
  </dd>

  <dt><label for= 'name'>Genre:</label></dt>
  <dd>
    <input id='name' name='bookmarker[genre]' type="text" autofocus value="<%= @bookmarker.genre %>">
  </dd>

  <dt><label for= 'name'>Description:</label></dt>
  <dd>
    <input id='name' name='bookmarker[details]' type="text" autofocus value="<%= @bookmarker.details %>">
  </dd>
</dl>