<div>
  
    <h2 style="text-align: center"> This is a Bookmarking App using Ruby. With this users can store urls of websites they've visited. The user can add a new URL and give it a name/title and classify it into a genre. Also, the user can edit and delete bookmarks. </h2>
  
</div>
