<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/normalize.css'>
    <link rel='stylesheet' href='/foundation.css'>
    <title>Bookmarker</title>
  </head>

  <body>
    <header>
      <h1 style="text-align:center; color:blue">Bookmarker App</h1>
    </header>
    <nav class="top-bar" data-topbar role="navigation">
      <!-- <ul class="title-area">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-1 columns">
              <input type="text" autocomplete="on|off" id = 'search' name = 'search' placeholder="Type Saved BookMark Genre">
            </div>
            <div class="large-4 small-3 columns">
              <a href='/bookmarks' class="alert button expand">Search</a>
            </div>
          </div>
        </li>
      </ul>
 -->

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="left">
        <form autocomplete="on" method="get" action='/bookmarks'>
          <li><input type="text" autocomplete="on" name ='search' placeholder="Type Saved BookMark Genre"></li>
          <li><button>Search</button></li>
        </form>
      </ul>
    </section>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href='/'>Home</a></li>
          <li><a href='/bookmarks'>All Bookmarks</a></li>
          <li><a href='/bookmarks/new'>New Bookmark</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </section>
    </nav>

    <%= yield %>
  </body>
</html>