<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/normalize.css'>
    <link rel='stylesheet' href='/foundation.css'>
    <title>Bookmarker</title>
  </head>

  <body>
    <header>
      <h1><span class='branding'>Bookmarker App</span> &ndash; Organise All Your Favourite Links For Future </h1>
    </header>

    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/bookmarks'>Bookmarks</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>