<dl>
  <dt><label for= 'name'>Title:</label></dt>
  <dd>
    <input id='name' name='bookmark[title]' type="text" autofocus value="<%= @bookmark.title %>">
  </dd>
  
  <dt><label for= 'name'>URL:</label></dt>
  <dd>
    <input id='name' name='bookmark[url]' type="text" autofocus value="<%= @bookmark.url %>">
  </dd>

  <dt><label for= 'name'>Genre:</label></dt>
  <dd>
    <input id='name' name='bookmark[genre]' type="text" autofocus value="<%= @bookmark.genre %>">
  </dd>

  <dt><label for= 'name'>Description:</label></dt>
  <dd>
    <input id='name' name='bookmark[details]' type="text" autofocus value="<%= @bookmark.details %>">
  </dd>
</dl>