<nav>
  <% @bookmarks.each do |bookmark| %>
    <h4>  <%= bookmark.title %>   </h4>
    
    
    <ul class="button-group">
      <li><a href='/bookmarks/<%= bookmark.id%>' class="button">Show</a></li>
      <li><a href='/bookmarks/<%= bookmark.id%>/edit' class="button">Edit</a></li>
      <li>
      <form action='/bookmarks/<%=bookmark.id%>/delete' method='post'>
        <button>Delete</button>
      </form>

      </li>
    </ul>
  <% end %>
</nav>